
<div class="container">
  <h1>BLOOD BANK</h1>
  <hr>
  <mat-list class=" d-flex flex-wrap justify-content-between"
  cdkDropList 
  #allbloodgroup="cdkDropList"
  cdkDropListConnectedTo="selectedbloodgroup"
  (cdkDropListDropped)="drop($event)">
    <div 
      cdkDrag 
      *ngFor="let item of Blood_bottles" 
      [cdkDragData]="item"
      class="Blood_Group_content bg d-flex flex-wrap justify-content-between" >

      <span class="blood_group gray {{item.className}} border">
        {{ item.bg }}
      </span>

      <span class="blood_quantity border">
        {{ item.count }}
      </span>

    </div>
  </mat-list>

  <h1 class="mt-5">REQUIREMENT FORM</h1>
  <div class="row">
    <hr>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6 ">
        <div class="col-md-12">
          <div class="title border">
            <h4>
              Blood required
            </h4>
          </div>
          <div class="value">
            <select (change)="onChange($event)">
            <option value="select">Select</option>
              <option *ngFor="let item of Blood_bottles"  value={{item.className}}>{{ item.bg }}</option>
          </select>
          </div>
        </div>
        <div class="col-md-12">
          <div class="title">
            <h4>
              Number of bottles
            </h4>
          </div>
          <div class="value">
            <select (change)="onChangenumberofbottles($event)">
            <option value="select">Select</option>
            <option *ngFor="let item of Blood_bottles" value={{item.count}}>{{ item.count }}</option>
        </select>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5 col-sm-6 col-xs-6 ">
        <div class="row h-100">
          <div 
            class="col-md-12 bucket" 
            cdkDropList 
            id="selectedbloodgroup"
            [cdkDropListData]="fields"
            (cdkDropListDropped)="drop($event)">
            
            <div 
              *ngFor="let field of fields" 
              class="Blood_Group_content_result bg d-flex flex-wrap justify-content-between">
              
              <div class=" blood_group gray">
                <h4>{{ field.bg }}</h4>
              </div>
              
              <div class="blood_quantity ">
                <h4>{{ field.count }}</h4>
              </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>